<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'catalog:home' %}">
            <i class="bi bi-cloud-fill me-2"></i>SkyStore
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                       href="{% url 'catalog:home' %}">
                        <i class="bi bi-house me-1"></i>Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'contacts' %}active{% endif %}"
                       href="{% url 'catalog:contacts' %}">
                        <i class="bi bi-telephone me-1"></i>Контакты
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary ms-2" href="#">
                        <i class="bi bi-cart me-1"></i>Корзина
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
